body, html {
  height: 100%;
  overflow-x: hidden;
  background-image: url("/images/background.png");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.no-padding {
  padding: 0px;
}

.preloader {
  display: block;
  margin: 0 auto;
}

.lineBreak {
  width: 80%;
  height: 10px;
  background-color: #7C8483;
  margin: 10px auto;
}


/* A18276     d4aa7d      efd09e*/