body, html {
  height: 100%;
  overflow-x: hidden;
  background-image: url("/images/background.png");
}

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.no-padding {
  padding: 0px;
}

.preloader {
  display: block;
  margin: 0 auto;
}

.lineBreak {
  width: 80%;
  height: 10px;
  background-color: #ABEBD2;
  box-shadow: 2px 2px 5px gray;
  margin: 10px auto;
}

.push-footer {
  flex: 1 0 auto;
}

.product-page-header {
  color: black !important;
  text-shadow: 3px 2px 5px #ABEBD2;
}


/* A18276     d4aa7d      efd09e*/