.footer-style {
    position: relative;
    background: linear-gradient(#ffffff00, #ABEBD2);
    width: 100%;
    height: 75px;
    margin-top: 50px;
    flex-shrink: 0;
}

.main-footer-content {
    position: absolute;
    width: 80%;
    height: 65px;
    margin-top: 5px;
    margin-bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.footer-text {

    font-size: large;
}

.text {
    font-size: 1.25rem;
}

#bottom-side-text {
    position: absolute;
    bottom: 0px;
    right: 5px;
    z-index: 2;
}

.skoll-logo {
    background-image: url(/images/skolllogo.ico);
    height: 32px;
    width: 32px;
}