.cart-style {
    background-color: gray;
    border-radius: 10px;
    padding: 5px;
    font-size: large;
    font-weight: 500;
}


.cart-image {
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    float: left;
}

.cart-title {
    display: block;
    width: max-content;
    float: left;
}

.cart-price {
    display: block;
    width: max-content;
}

.cart-quantity {
    display: inline-block;
    width: 25px;
    font-size: larger;
    text-align: center;
}

.remove-button {
    position: absolute;
    top: 0;
    right: 0;
}