.navbar-cus-color {
    background: linear-gradient(#ABEBD2, #4d474700);
    
}

.text-color {
    color: black !important;
    text-shadow: 2px 2px #ABEBD2;
    font-size: 1.65rem;
}

.text-color:hover{
    color: gray !important;
    
}